<template name="navBar">

<div class=landing>
        <header id="header">
          <h1>
            <a href="/">Kram</a>
          </h1>
          <nav id="nav">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/programs">Programs</a>
              </li>
              <li>
                <a href="/about">About Kram</a>
              </li>
              <li>
                  {{> navLoginButtons}}
              </li>
            </ul>
          </nav>
        </header>
      </div>
</template>
